@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
:root{
    --login-bg: #f8f3ff;
    --title-bg:#9089cc;
    --button-bg:  #674baf;
    --ligh-pink: #e882e8;

    --back-img:linear-gradient(19deg, #000000 0%, #4e667b 99%);
    --btn-img:/*background-image: */linear-gradient(62deg, #d8e3ea 0%, #E0C3FC 100%);
    /*#3a3a3a*/

    
}
body{
    height: 100vh;
    font-family: 'Poppins',sans-serif;
    background-image: var(--back-img);

}
.login-container{
    height: 43.75em;
    width: 60em;
    margin: 6em auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.login-info-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    
}
