
/* ---------------------------------------------------
    body content
----------------------------------------------------- */


#contenido{
 width: 80%;
 margin: 0px auto;
 clear: left;
 overflow: auto;
 min-width: 650px;
 max-width: 960px;

}
.cel{
 width: 30%; 
 padding: 2%;
 margin: 30px 1.5%;
 background-color: #8c8c8c;
 border: solid 1px black;
 border-radius: 10px;
 float: left;
 text-align: justify;   
}
.cel img{
 width: 100%;
}

#contenido h1{
    color: black;
}

#galeria .cel{
 font-size: 1em;
 padding-bottom: 10px;
 margin: 30px 1.4% 10px;
 display: inline-block;
 float: none;
 vertical-align: top;
 text-align: center;
 font-style: italic;
}

<<<<<<< HEAD
=======

>>>>>>> 174562fec004ddb9c2912e1eb31d4cb4a5c10197
/* ---------------------------------------------------
    footer 
----------------------------------------------------- */

.footer{
    width: 100%;
    padding: 50px 0px;
    background-image: url(../Images/background-footer.svg);
    background-size: cover;        
}
.box__copyright a{
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 600;
}
.box__copyright a:hover{
    opacity: 0.8;
}
.box__copyright a .fab{
    font-size: 20px;
}
.box__copyright{
    max-width: 1200px;
    margin: auto;
    text-align: center;
    padding: 0px 40px;
}
.box__copyright p{
    margin-top: 20px;
    color: #7a7a7a;
}
.box__copyright hr{
    border: none;
    height: 1px;
    background-color: #7a7a7a;
}

<<<<<<< HEAD

=======
>>>>>>> 174562fec004ddb9c2912e1eb31d4cb4a5c10197
